* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 151, 211);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 360px;
}

.cell{
    width: 200px;
    height: 200px;
    font-size: 100px;
    background-color: rgb(150, 199, 242);
    box-shadow: 0 0 0 1px #f48fcb;
    cursor: pointer;
    line-height: 200px;
}

.cell:hover{
    background-color: rgb(194, 123, 240);
}

.perriwinkle{
    color: rgb(122, 118, 247);
    text-shadow: 1px 1px 6px;
}

.pink{
    color: rgb(237, 120, 140);
    text-shadow: 1px 1px 6px;
}

.wins{
    text-decoration: underline;
}

.win-count{
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 2px solid #f48fcb;
    text-align: left;
}
